In [153]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn import preprocessing
from sklearn import utils

In [164]:
# Clean data; strings to int
df = pd.read_csv('Train-Set.csv')
df1 = df.drop(columns = ['Weight', 'ProductID', 'OutletID', 'ProductType'])
df2 = df1.replace(to_replace=["Low Fat", "low fat", "LF"], value = 1)
df3 = df2.replace(to_replace=["Regular", "reg" ], value = 2)
df4 = df3.replace(to_replace=["Dairy"], value = 1)
df5 = df4.replace(to_replace=["Soft Drinks"], value = 2)
df6 = df5.replace(to_replace=["Meat"], value = 3)
df7 = df6.replace(to_replace=["Fruits and Vegetables"], value = 4)
df8 = df7.replace(to_replace=["Household"], value = 5)
df9 = df8.replace(to_replace=["Baking Goods"], value = 6)
df10 = df9.replace(to_replace=["Snack Foods"], value = 7)
df11= df10.replace(to_replace=["Frozen Foods"], value = 8)
df12= df11.replace(to_replace=["Starchy Foods"], value = 9)
df13 = df12.replace(to_replace=["Small"], value = 1)
df14 = df13.replace(to_replace=["Medium"], value = 2)
df15 = df14.replace(to_replace=["High"], value = 3)
df16 = df15.replace(to_replace=["NaN"], value = 0)
df17 = df16.replace(to_replace=["Supermarket Type1"], value = 1)
df18 = df17.replace(to_replace=["Supermarket Type2"], value = 2)
df19 = df18.replace(to_replace=["Supermarket Type3"], value = 3)
df20 = df19.replace(to_replace=["Grocery Store"], value = 4)
df21 = df20.replace(to_replace=["Tier 1"], value = 1)
df22 = df21.replace(to_replace=["Tier 2"], value = 2)
df23 = df22.replace(to_replace=["Tier 3"], value = 3)
df24 = df23.replace(to_replace=["Canned"], value = 10)
df25 = df24.replace(to_replace=["Hard Drinks"], value = 11)
df26 = df25.replace(to_replace=["Health and Hygiene"], value = 12)
df27 = df26.replace(to_replace=["Others"], value = 13)
df28 = df27.replace(to_replace=["Breakfast"], value = 14)
df29 = df28.replace(to_replace=["Breads"], value = 15)
df30 = df29.replace(to_replace=["Canned"], value = 16)
df31 = df30.replace(to_replace=["Seafood"], value = 16)
df31.replace([np.inf, -np.inf], np.nan, inplace=True)
df32 = df31.fillna(0)
df32.describe()

,FatContent,ProductVisibility,MRP,EstablishmentYear,OutletSize,LocationType,OutletType,OutletSales
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,1.352693,0.066132,140.992782,1997.831867,1.263640,2.112871,1.709492,2181.288914
std,0.477836,0.051598,62.275067,8.371760,0.989181,0.812757,1.089985,1706.499616
min,1.000000,0.000000,31.290000,1985.000000,0.000000,1.000000,1.000000,33.290000
25%,1.000000,0.026989,93.826500,1987.000000,0.000000,1.000000,1.000000,834.247400
50%,1.000000,0.053931,143.012800,1999.000000,1.000000,2.000000,1.000000,1794.331000
75%,2.000000,0.094585,185.643700,2004.000000,2.000000,3.000000,2.000000,3101.296400
max,2.000000,0.328391,266.888400,2009.000000,3.000000,3.000000,4.000000,13086.964800

In [165]:
X = df32.drop(columns= ['OutletSales']) # everything but OutletSales
y = df32['OutletSales'] # output dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.25) # 25% used for testing

In [166]:
#model = LinearRegression(normalize = True)
model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())
model.fit(X_train, y_train)
model.score(X_train, y_train)

0.42627041209408734